body {
  background-color: #e0ffe1;
}

ul {
  list-style-type: none;
}

p {
  font-weight: normal;
}

li {
  font-weight: bold;
}

#home-header {
  padding-left: 350px;
}

#projects {
  text-align: center;
  margin-top: 50px;
}

#project-list {
  margin-top: 40px;
}

#gitproj {
  background-color: #ffce66;
  border-style: double;
  border-color: #ffe2a5;
}

#left-list {
  float: left;
  background-color: #feffcc;
  border-style: ridge;
  border-color: #feffcc;
}

#right-list {
  float: right;
  background-color: #ffd6d6;
  border-style: ridge;
  border-color: #ffd6d6;
}

#jumbotron-home {
  background-color: #e0fff8;
}

#about-header {
  font-weight: bolder;
  font-size: 20px;
}

#pro-info {
  background-color: #b5effc;
  border-style: solid;
  border-color: #b5effc;
  margin-top: 20px;
}

#experience {
  background-color: #42a6bc;
}

#education {
  background-color: #81d1a8;
}

#row-hobby {
  background-color: #ffc3a3;
  border-style: solid;
  border-color: #ffc3a3;
  margin-top: 20px;
}

#hobbies {
  background-color: #ed8240;
  border-style: solid;
  border-color: #ed8240;
}

#skills {
  background-color: #aa69bc;
  border-style: #aa69bc;
  border-color: #aa69bc;
}

#epicodus {
  color: #db3232;
}

#home-card {
  background-color: #190808
  color: white;
}

.my-top-nav {
  margin-bottom: 10px;
  background-color: #89c47d;
  border-style: groove;
  border-color: #7bd887;
  font-weight: bold;
}

.my-bottom-nav {
  margin-top: 20px;
  background-color: #89c47d;
  border-style: groove;
  border-color: #7bd887;
  font-weight: bold;
}

.nav {
  padding-left: 30px;
  padding-right: 10px;
}

.nav-item {
  padding-left: 30px;
  padding-right: 10px;
}

.navbar-nav {
  flex-direction: row;
}

.container {
  text-align: center;
}

.main-img {
  width: 400px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.other-img {
  float: right;
  width: 100px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bio-card {
  margin-top: 20px;
}

.card {
  background-color: #c99595
}

.card-img-top {
  width: 18rem;
}
