.nav {
  padding-left: 30px;
  padding-right: 10px;
}

.nav-item {
  padding-left: 30px;
  padding-right: 10px;
}

.img {
  width: 500px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#projects {
  text-align: center;
}
