body {
  background-color: #e0ffe1;
}

#projects {
  text-align: center;
}

#left-list {
  float: left;
  background-color: #feffcc;
}

#home-header {
  padding-left: 350px;
}

.nav {
  padding-left: 30px;
  padding-right: 10px;
}

.nav-item {
  padding-left: 30px;
  padding-right: 10px;
}

.img {
  width: 400px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#jumbotron-home {
  background-color: #e0fff8;
}
